@font-face {
	font-family: "Honeyday";
	src: url("../fonts/Honeyday.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

header {
	background-color: #233C9B;
	background-image: url("../img/cabecera.gif");
	height: 100px;
	width: 90%;
}

h1 {
	font-family: "Honeyday";
	font-size: 40pt;
	color: Gold;
	text-shadow: 2px 2px gray;
	margin: 3%;
	padding: 35px;
}

body {
	background-color: Beige;
	color: MediumBlue;
	font-size: 10pt;
	font-family: "Verdana, sans-serif"
}

nav {
	width: 90%;
	height: 50px;
	background-color: Navy;
}

nav ul {
	list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
}

nav ul li {
	display: inline-block;
	background-color: MediumBlue;
	border: 2px solid darkgrey;
	font-weight: bold;
	padding: 5px;
	margin-top: 10px;
}

nav ul li a {
	color: LightSkyBlue;
	text-decoration: none;
}

nav ul li:hover {
	background-color: White;
}

nav ul li a:hover {
	color: Orange;
}

section {
	float: left;
	background-color: white;
	border-radius: 20px;
	width: 60%;
	padding: 10px;
	margin: 10px;
}

aside {
	float: left;
	width: 32%;
	background-color: Azure;
	border-radius: 20px;
	margin: 10px;
	padding: 10px;
}

footer {
	clear: both;
	height: 60px;
}

footer p {
	width: 90%;
	background-color: LightBlue;
	border: 2px solid Blue;
	border-radius: 10px;
	font-family: "Arial";
	font-size: 20px;
	text-align: center;
	padding: 10px;
}

.contenido {
	background-color: Azure;
	padding: 10px;
}

h2 {
	background-color: LightBlue;
	color: MidnightBlue;
	border-radius: 20px;
	padding: 8px;
}

h3 {
	background-color: LightBlue;
	color: MidnightBlue;
	padding: 8px;
}

.parrafo {
	color: MediumBlue;
	text-indent: 15px;
	text-align: justify;
}

.logo {
	float: left;
	border: 2px solid black;
	margin-right: 2px;
}

table {
	width: 90%;
}

th {
	background-color: #CEDBF9;
	color: darkgray;
	font-family: "Arial";
	font-weight: bold;
	font-style: italic;
	font-variant: small-caps;
	font-size: 12pt;
	border: 2px inset white;
	text-align: center;
}

td {
	border: 2px inset white;
	text-align: center;
}

.formulario {
	width: 90%;
}

.botones {
	float: right;
	padding: 10px;
}

label {
	display: block;
}

span {
	font-weight: bold;
	color: MidnightBlue;
	text-decoration: underline;
	text-decoration-color: red;
}

.sectionyaside {
	width: 90%;
}

hr {
	border: 1px solid #DEE5FD;
}