h1 {
	color: lightgray;
	padding: 40px;
	margin-left: 16%;
}

h2 {
	background-color: lightyellow;
	text-align: center;
	width: 70%;
	margin-left: 3%;
	text-shadow: 2px 2px lightgray;
}

body {
	background-color: lightgray;
}

header {
	width: 100%;
	background-image: url(../img/Banner-pizza.jpg);
}

nav {
	width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color: red;
}

nav ul ul {
    display: none;
    position: absolute;
    padding: 0;
    background-color: gray;
}

nav ul ul li {
    float: none;
    width: 96px;
}

nav ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

nav ul li:hover > ul {
    display: block;
}

/*
nav ul {
	list-style-type: none;
	background-color: gray;
	overflow: hidden;
}

nav ul li {
	float: right;
}

nav ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 0.75em;
}

nav ul li a:hover {
	background-color: red;
}

nav li > ul {
	display: none;
	position: absolute;
}

nav li:hover > ul {
	background-color: #333;
	display: block;

}

nav li ul li a {
	position: relative;
	right: 2.5em;
	text-align: center;
	padding: 1em;
}

nav ul > li > ul > li > a:hover {
	background-color: lightgray;
}

*/

label {
	display: block;
}

section {
	float: left;
	width: 75%;
	border-right: 1px solid black;
	margin: 10px;
}

aside {
	float: left;
	width: 20%;
	padding: 1%;
}

footer {
	width: 99%;
	clear: left;
	background-color: black;
	color: white;
	height: 40px;
	text-align: right;
	padding: .5em;
	position: relative;
	top: 20px;
}

.botones {
	clear: left;
	padding: 3%;
}

.cliente {
	float: left;
	width: 50%;
}

.pizza {
	float: left;
	width: 40%;
}

.pizzac {
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

.pizzac img {
	width: 70%;
}

.titulo {
	font-weight: bold;
	color: green;
	text-align: center;
}