@font-face {
	font-family: "Dosis-VariableFont_wght";
	src: url("../ttf/Dosis-VariableFont_wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "BalsamiqSans-Regular";
	src: url("../ttf/BalsamiqSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ArchitectsDaughter-Regular";
	src: url("../ttf/ArchitectsDaughter-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: "Dosis-VariableFont_wght";
	font-variant: small-caps;
	text-align: center;
	color: steelblue;
	background-image: url(../img/madera1.png);
	letter-spacing: 3px;
	text-shadow: 2px 2px gray;
}

h2 {
	font-family: "BalsamiqSans-Regular";
	text-align: right;
	font-size: 20px;
	color: Indigo;
}

body {
	background-image: url(../img/madera2.jpg);
	font-family: "ArchitectsDaughter-Regular";
	margin: 10px;
	padding: 10px;
}

p {
	text-indent: 20px;
	text-align: justify;
	font-size: 14px;
	color: slateblue;
}

cite {
	color: olive;
	font-weight: bold;
}

mark {
	background-color: MediumSlateBlue;
}

span{
	color: DarkRed;
}

abbr {
	color: Sienna;
	font-size: 16px;
}

.div1 {
	text-align: right;
}

.div2 {
	color: Brown;
	font-family: "Courrier New";
	background-image: linear-gradient(to bottom, IndianRed, LightCoral);
}

ul{
	list-style-type: none;
	color: slateblue;
}

ul li:before {
	content: '✓ ';
}

#formulas {
	text-indent: 0px;
}