@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("img/leaves.jpg");
}

* {
	margin: 0;
}

header {
	letter-spacing: 1em;
	background-color: rgb(245,201,204,0.9);
	width: 100%;
	padding: 20px;
	margin-bottom: 6%;
	text-align: center;
}

section {
	display: flex;
	flex-direction: row;
}

.trimestre {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	padding: 20px;
	background-color: rgb(98, 144, 74, 0.8);
	border-radius: 20px;
}

.loading {
	width: 200px;
	height: auto;
}

ul {
	list-style-type: none;
}

.nav ul {
    list-style-type: none;
}

a {
    display: block;
    color: rgb(245,201,204);
    text-decoration: none;
    border-radius: 3px;
    padding: 4px;
    margin: 2px;
}

.nav li a:hover, a:hover{
    background-color: rgb(245,201,204, 0.9);
    color: rgb(98, 144, 74);
}

.nav li ul {
    display: none;
    position: relative;
    left: 5px;
}

.nav ul ul li {
    float: none;
    width: 96px;
}

.nav li ul a {
    line-height: 120%;
    background-color: rgb(245,201,204, 0.9);
    color: rgb(98, 144, 74);
}

.nav li:hover > ul {
    display: block;
}

/*

li > ul li a {
	display: none;
}

li:hover > ul li a{
	display: block;
	border-radius: 5px;
	background-color: rgb(245,201,204, 0.8);
	color: rgb(98, 144, 74);
}

a {
	text-decoration: none;
	color: rgb(245,201,204);
	padding: 5px;
}

a:hover {
	background-color: rgb(245,201,204, 0.8);
	color: rgb(98, 144, 74);
	border-radius: 5px;
}

*/

h2 {
	font-family: 'Lobster Two', cursive;
	letter-spacing: 0.1em;
	color: white;
	margin-bottom: 20px;
}

footer {
	background-color: rgb(250, 230, 231, 0.9);
	width: 100%;
	padding: 10px;
	margin-top: 6%;
	font-weight: bold;
	text-align: center;
}