@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Playfair Display";
}

.content {
    display: grid;
    grid-template-areas: "section section aside" "galeria galeria galeria" "footer footer footer";
}

.redes {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.redes img {
    max-width: 40px;
    padding: 5px;
}

.redes img:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    padding: 15px;
    background-color: #b64d33;
    background-image: url("img/5.png");
    grid-area: nav;
}

.nav img {
    max-width: 45px;
    margin-right: 15px;
}

.nav a {
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    color: #333333;
    text-decoration: none;
    padding: 15px;
}

nav a:hover{
    color: #b64d33;
}

.nav {
    background-color: antiquewhite;
    border-radius: 10px;
}

section {
    display: flex;
    flex-direction: row;
    margin: 2%;
    grid-area: section;
    text-align: justify;
    background-image: url("img/mezquita.jpg");
    padding: 5%;
    margin: 2% 2% 5% 5%;
    border-radius: 15px;
}

h3 {
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    color: rgb(180, 0, 0);
}

.section1 {
    width: 50%;
    padding: 15px;
    margin: 1%;
    background-color: antiquewhite;
    border-radius: 15px;
}

.section2 {
    width: 50%;
    padding: 15px;
    margin: 1%;
    background-color: antiquewhite;
    border-radius: 15px;
}

.galeria {
    grid-area: galeria;
}

aside {
    background-color: #b64d33;
    grid-area: aside;
    margin: 7% 5% 10% 0%;
    padding: 15px;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside h3 {
    background-color: antiquewhite;
    border-radius: 5px;
    text-align: center;
}

.formitem {
    padding: 15px;
}

.formitem:after {
    content: "";
    display: table;
    clear: both;
}

label {
    padding: 0 35px 0 0;
    display: inline-block;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.label {
    float: left;
    width: 25%;
    margin-top: 5px;
}

.input {
    float: left;
    width: 75%;
    margin-top: 5px;
}

input:focus {
    background-color: antiquewhite;
    border: 5px solid #b64d33;
    color: #b64d33;
}

.boton {
    width: 60%;
    padding: 10px 10px 10px 30px;
    margin: 15px;
    font-family: "Playfair Display";
    background-image: url("img/boton.png");
    background-repeat: no-repeat;
    background-color: antiquewhite;
}

.boton:hover {
    transform: scale(1.1);
}

.boton:focus {
    background-color: #b64d33;
    color: antiquewhite;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    grid-area: footer;
    margin-top: 3%;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

footer img {
    width: 7%;
}

* {
    margin: 0;
}

#headerContent {
    width: 100%;
    height: 30%;
    overflow: hidden;
    position: relative;
}

video {
    width: 100%;
    max-height: 400px;
    min-width: 100%;
    z-index: -1;
    object-position: center;
    object-fit: cover;
}

.titulo {
    position: absolute;
    text-align: center;
    font-size: 4em;
    z-index: 9999;
    color: white;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Cinzel Decorative', cursive;
    font-size: 40px;
    font-weight: 900;
    text-shadow: 2px 2px #333333;
    letter-spacing: 0.5em;
    color: white;
}

.subtitulo {
    position: absolute;
    text-align: center;
    font-size: 4em;
    z-index: 9999;
    color: white;
    top: 57%;
    left: 53%;
    transform: translate(-50%,-50%);
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 2px 2px #333333;
    letter-spacing: 0.5em;
    color: white;
}

.imagenes {
    display: grid;
    grid-template-columns: auto auto auto;
}

.imagenes img {
    width: 90%;
    padding-top: 50px;
}

.galeria {
    margin-left: 4.5%;
    margin-right: 2%;
}

.titulogaleria {
    background-color: antiquewhite;
    background-image: url("img/6.png");
    border-radius: 10px;
    margin-right: 3%;
}

.galeria h2 {
    font-family: 'Sen', sans-serif;
    font-size: 50px;
    letter-spacing: 3em;
    color: #b64d33;
    padding: 15px;
    text-align: center;
}

figure:hover {
    transform: scale(1.1);
}

.section1:hover, .section2:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 1400px) {
    video{
        max-height: 240px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    section {
        order: 1;
        margin: 3%;
    }

    aside {
        order: 2;
        margin: 3%;
    }

    .galeria {
        order: 3;
    }

    footer {
        order: 4;
    }

    .boton {
        width: 180px;
    }

    .titulogaleria h2{
        letter-spacing: 1.5em;
    }

    .subtitulo {
        top: 63%;
    }

}


@media only screen and (max-width: 800px) {
    video{
        max-height: 220px;
    }

    section {
        display: flex;
        flex-direction: column;
        
    }

    .section1, .section2 {
        width: 100%;
    }

    .titulogaleria h2{
        letter-spacing: 1em;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    aside {
        margin: 3%;
    }
}

@media only screen and (max-width: 701px) {
    video {
        max-height: 200px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav div {
        margin: 5px;
    }

    .subtitulo {
        left: 56%;
    }

    footer img {
        width: 15%;
    }
}

@media only screen and (max-width: 634px) {
    video {
        max-height: 150px;
    }

    .titulogaleria h2{
        letter-spacing: 0.5em;
    }

    .subtitulo {
        top: 70%;
    }
}

@media only screen and (max-width: 572px) {
    .nav {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 472px) {
    .titulogaleria h2{
        letter-spacing: 0em;
    }

    video {
        max-height: 100px;
    }

    .titulo {
        font-size: 20px;
    }

    .subtitulo {
        font-size: 10px;
    }

    footer a {
        font-size: 10px;
    }
}